@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

    ::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(90,161,255,1) 0%, rgba(0,75,174,1) 100%);
}

    ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
    width: 50px;
}

body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat';
    color: #ffffff;
}

body {
    background: rgb(90,161,255);
    background: linear-gradient(180deg, rgba(90,161,255,1) 0%, rgba(0,75,174,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 25%);
    margin: 1vw 8vw 2vw 8vw; 
    padding: -1em;
    border-radius: 55px 55px 55px 55px;
    height: 60px;
}

ul {
    margin: 0vw 2vw 0.1vw 2vw;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    overflow: hidden;
    list-style: none;
    font-size: 1em;
    text-align: center;
    padding: 0em;
}

li {
    float: center;
    margin: 0em;
    padding: 0em;
}

#Logo {
    transform-origin: 10% 50%;
}

.ReponsiveImage {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    align-items: center;
}

.Text {
    padding-top: 20px;
}


li.Text :hover{
    color: #105ABC;
    font-weight: 700;
    animation: Grow 2s;
}

@keyframes Grow {
    5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
    20% {
		transform: scale(1.15);
	}
}

#Profile {
    position: absolute;
    top: 1.4vw;
    left: 2vw;
    width: 4vw;
    border-radius: 50%;
}




main {
    background-image: url("./Pictures/FarmBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 94%;
    padding: 0;
    overflow-y: hidden;
}

#Title {
    background-color: white;
    margin-left: 4vw;
    width: 22vw;
    border-radius: 50px;
    color: #101010;
    padding: .7vw 0vw .7vw 2vw;
}

p {
    font-weight: 1em;
    font-weight: 700;
    margin: 0;
}

img#AreaTitle {
    margin: 0;
    width: 20vw;
}

ul#Animals {
    margin: 0;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    overflow: hidden;
    text-align: center;
    list-style: none;
    padding: 0em;
    column-width: 10vw;
    grid-template-rows: 6vw;
    grid-column-gap: 0.6vw;
    height: 50vw;
}

.AnimalIcon {
    padding-top: 10%;
    width: 10vw;
    height: auto;
}

.grow2 { 
    transition: all .2s ease-in-out; 
}

.grow2:hover { 
transform: scale(1.2); 
}

div.AnimalName {
    visibility: hidden;
    color: black;
    font-weight: 600;
    align-items: center;
}

.grow2:hover div{
    visibility: visible;
}