@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

    ::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(90,161,255,1) 0%, rgba(0,75,174,1) 100%);
}

    ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
    width: 50px;
}

body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat';
    color: #ffffff;
}

body {
    background: rgb(90,161,255);
    background: linear-gradient(180deg, rgba(90,161,255,1) 0%, rgba(0,75,174,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 25%);
    margin: 1vw 8vw 2vw 8vw; 
    padding: -1em;
    border-radius: 55px 55px 55px 55px;
    height: 60px;
}

ul {
    margin: 0vw 2vw 0.1vw 2vw;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    overflow: hidden;
    list-style: none;
    font-size: 1em;
    text-align: center;
    padding: 0em;
}

li {
    float: center;
    margin: 0em;
    padding: 0em;
}

#Logo {
    transform-origin: 10% 50%;
}

.ReponsiveImage {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    align-items: center;
}

.Text {
    padding-top: 20px;
}

#Profile {
    position: absolute;
    top: 1.4vw;
    left: 2vw;
    width: 4vw;
    border-radius: 50%;
}

main {
    padding: 0;
    padding-right: 10%;
    margin: 0;
    height: 80vh;
    background-image: url('./Pictures/BackgroundPaw.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 92vh;
}

h1 {
    margin: 5% 5% 0% 5%;
}

#TitleLogo {
    margin: 1% 0% 0% 12%;
}

p {
    margin: 3% 40% 0% 9%;
    font-size: 1em;
    line-height: 2em;
}

button {
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Montserrat';
    background-color: #AE4600;
    border: none;
    border-radius: 55px 55px 55px 55px;
    height: 55px;
    width: 175px;
}

 li.Text :hover{
    color: #105ABC;
    font-weight: 700;
    animation: Grow 2s;
}

a#cta {
    margin: 5% 45% 0% 9%;

}
a#cta :hover{
    color: #AE4600;
    font-weight: 700;
    background-color:#DBA579;
    animation: jittery 2s;
}

@keyframes Grow {
    5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
    20% {
		transform: scale(1.15);
	}
}

@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}


@media only screen and (max-width: 768px) {
    
    
}